.start {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 253, 248);
    transition: transform 3s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
    
.img-container {
    width: 100%;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
        
.start-img {
    width: 40%;
}

.bi-arrow-down-short {
    font-size: 30px;
}

.start.up {
    transform: translateY(-100%); /* 위로 이동 */
  }

.content {
    display: flex;
    flex-direction: column;

}